<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rayan TREMION - Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
    {% block imports %}{% endblock %}
    <meta property="og:site_name" content="Rayan TREMION - Portfolio">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    {% block meta %}{% endblock %}
</head>

<body id="top">
    <!-- Barre de navigation -->
    <nav class="navbar" id="navbar">
        <ul>
            <li><a href="/#top">Accueil</a></li>
            <li><a href="#skills">Compétences</a></li>
            <li><a href="/projects">Projets</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/gists">Tutoriels</a></li>
        </ul>
    </nav>
    <!-- Section principale -->
    <div id="content">{% block content %}{% endblock %}</div>
    <!-- Pied de page -->
    <footer class="pageFooter" id="contact">
        <a rel="noopener" href="mailto:contact.rayantremion@gmail.com" target="_blank">Contactez-moi</a>
        <span>|</span>
        <a rel="noopener" href="https://github.com/wishrito" target="_blank">Suivez-moi sur GitHub</a>
        <span>|</span>
        <a rel="noopener" href="https://www.linkedin.com/in/rayan-tremion/" target="_blank">Connectez-vous avec moi sur
            LinkedIn</a>
        <span>|</span>
        <a href="/about">A propos de ce Portfolio</a>
        <span>|</span>
        <a href="/site-map">Site map</a>
    </footer>
</body>

</html>