/* Bulma CSS */
@import url(https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css);

/* personal CSS */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Barre de navigation */
.navbar {
    top: 0px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Section des projets */
.projects {
    & div.card {
        transition: 0.5s ease-in-out;

        &:hover {
            scale: 105%;
        }
    }
}
.image.is-128x128 img {
    border-radius: 50%;
}