{% extends "templates/base.html" %}
{% block title %}Spécifications du portfolio{% endblock %}
{% block meta %}
<meta name="description" content="Les technologies utilisées pour ce portfolio">
<meta property="og:title" content="Portfolio - Spécifications">
{% endblock %}
{% block content %}
<!-- Liste des outils -->
<main>
    <p>Avant toute explication des dépendances utilisées, j'aimerai préciser quelque chose.</p>
    <p>ce portfolio n'a rien de très impressionnant visuellement, et n'a pas vocation de l'être.</p>
    <p>ce que je souhaite mettre en avant, ce sont simplement des fonctionnalités techniques, à savoir des API,
        principalement</p>
</main>
{% if tools_data %}
    <h2>Technologies Utilisées</h2>
    <p>Python Version: {{ tools_data.python }}</p>
    <h3>Bibliothèques Utilisées</h3>
    <ul>
        {% for lib in tools_data.libs %}
            <li><a href="https://pypi.org/project/{{ lib.name }}">{{ lib.name }}</a>: {{ lib.version }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucune donnée disponible.</p>
{% endif %}
{% endblock %}