{% extends "base.html" %}
{% block title %}Mes projets{% endblock %}
{% block content %}
<!-- Section des projets -->
<div>
    <h2>Mes projets</h2>
<section class="projects" id="projects">
    {% if projects %}
    <select name="language" id="" title="langages">
        {% for langage in project.languages %}
        <option value="{{ language.id }}">{{ language.name }}</option>
        {% endfor %}
    </select>

    <div id="py-projects">
        {% for project in projects %}
        <input type="hidden" name="{{ project.language.name }}" value="{{ project.language.ext }}">
        <div class="card">
            <h3>{{ project.repo }}</h3>
            <p>{{ project.description }}</p>
            <a href="{{ project.url }}">Voir le projet</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>
</div>
{% endblock %}