{% extends "base.html" %}
{% block title %}Mes projets{% endblock %}
{% block content %}
<!-- Section des projets -->
<div class="projects" id="projects">
    <h2>Mes projets</h2>
    <div id="py-projects">
        <div class="card">
            <img src="" alt="">
            <h3>Bread-Chan</h3>
            <p>Bot Discord codé en Python</p>
            <button type="button" onclick="redirect('bread-chan')">Voir le projet</button>
        </div>
        <div class="card">
            <img src="" alt="">
            <h3>Bread-Chan</h3>
            <p>Bot Discord codé en Python</p>
            <button type="button" onclick="redirect()">Voir le projet</button>
        </div>
    </div>
</div>
{% endblock %}