{% extends "base.html" %}
{% block title %}Mes projets{% endblock %}
<script src="{{ url_for('static', filename='css/script.js') }}"></script>
{% block content %}
<!-- Section des projets -->
<div>
    <h2>Mes projets</h2>
    {% if data %}
    <select name="language" id="language_select" title="langages">
        <option value="all" selected>Tous</option>
        {% for language in data.languages %}
        <option value="{{ language }}">{{ language }}</option>
        {% endfor %}
    </select>
    <section class="projects" id="projects">
        {% for project in data.projects %}
        <div class="card" data-languages="{{ project.string_languages }}">
            <header style="width:fit-content; background-color: #{{ project.hex_color }};">
                <h3>{{ project.repo }}</h3>
            </header>
            {% if project.description %}
            <p>{{ project.description }}</p>
            {% else %}
            <p>Aucune description fournie</p>
            {% endif %}
            <div>
                <h4>Langages utilisés :</h4>
                <ul>
                {% for lang in project.languages %}
                    <li>{{ lang.name }}</li>
                {% endfor %}
                </ul>
            </div>
            <div>
                <a href="{{ project.url }}">Voir le projet</a>
            </div>
        </div>
        {% endfor %}
    </section>
    {% else %}
    <p>Aucun projet trouvé.</p>
    {% endif %}
</div>
{% endblock %}