{% extends "base.html" %}
{% block title %}Mes Tutoriels{% endblock %}
{% block meta %}
<meta name="description" content="Page description">
<meta property="og:title" content="Unique page title - My Site">
<meta property="og:description" content="Page description">
{% if gist_data %}
<meta property="og:image"
    content="{{ url_for('static', filename='img/gists_img/' + gist_data['files'][0]['images'][0]) }}">
<meta property="og:image:alt" content="{{ gist_data.title }}">
{% endif %}
<meta property="og:locale" content="fr_FR">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}
{% block content %}
<!-- Liste des gists -->
{% if gists %}
<div id="description">
    <p>Bienvenue sur la page des tutoriels ! Ici, vous trouverez une collection de micro-tutoriels Python couvrant
        divers sujets et astuces pour améliorer vos compétences en programmation. Chaque tutoriel est conçu pour être
        court et précis, vous permettant d'apprendre rapidement et efficacement.</p>
</div>
{% endif %}
<div class="gists">
    {% if gists %}
        {% for gist in gists %}
            <section>
                <div class="gist">
                    <p><a href="/gist?id={{ gist.id }}">{{ gist.title }}</a></p>
                    {% if gist.gist_description != '' %}
                    <p>{{ gist.gist_description }}</p>
                    {% endif %}
                    <div class="gist-thumbnail-container"></div>
                    <img class="gist-thumbnail" src="{{ url_for('static', filename='img/gists_img/' + gist['files'][0]['images'][0]) }}"
                        alt="{{ gist.title }} thumbnail">
                </div>
            </section>
        {% endfor %}
    {% elif gist_data %}
    <section>
        <div class="gist">
            <p>{{ gist_data.title }}</p>
            <script src="{{gist_data.embed_url}}"></script>
        </div>
    </section>
        {% endif %}
    </div>
{% endblock %}